@import url(https://use.typekit.net/glp8efz.css);


/*
________________MOBILE______________________________________________________
 */
@media (max-width:510px){

  .homeDiv{
    height: 100vh;
    background-image: url("../img/background1_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .noMargin{
    margin: 0px;
    padding: 0px;
  }

  h1.homeTitle {
    padding-top:110px;
    font-size: 50px;
    text-align: center;
    color: white;
    padding-bottom: 70px;
    text-shadow: 2px 2px 5px  #808080;
  }

  a.homeAboutLink{
    color:white;
    margin-left: auto;
    padding-top: 100px;
  }

   h1 {
     font-family: brother-1816, sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 50px;
     margin: 20px;
     text-align: center;
   }

   h2 {
     font-family: brother-1816, sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size: 35px;
     margin: 20px;
     text-align: center;
   }

   h3 {
     font-family: brother-1816, sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 27px;
     margin: 15px;
     text-align: center;
   }

   h4 {
     font-family: brother-1816, sans-serif;
     font-weight: 400;
     font-style: italic;
     font-size: 22px;
     margin: 15px;
     text-align: center;
   }

   h5 {
     font-family: brother-1816, sans-serif;
     font-weight: 100;
     font-style: italic;
     font-size: 20px;
     margin: 5px;
     text-align: center;
   }

   h6 {
     font-family: brother-1816, sans-serif;
     font-weight: 100;
     font-style: normal;
     font-size: 15px;
     margin: 5px;
     text-align: center;
   }

   .margin-In{
     margin-left: 35%;
   }

   p{
     font-family: brother-1816, sans-serif;
     font-weight: 300;
     font-style: normal;
     margin-left: 25px;
     margin-right: 15px;
     margin-top: 10px;
     margin-bottom: 10px;
   }
   .box{
     display: flex;
     flex-direction: column;
   }

   .item{
     margin: 3px;
     flex: 1 1 0;
   }

   .pLCBox{
     display: flex;
     flex-direction: column;
     align-content:center;
     margin-left: auto;
     margin-right: auto;
     width:100%;
   }

   .hLC{
     margin-top: 60px;
   }

   .hLC2{
     margin-top: 30px;
   }

    .lLC{
      margin-left: auto;
      margin-right: auto;
      width: 55%;
    }

    img{
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height: auto;
    }

    .image2 {
      width: 20%;
      margin-right: 60%;
      margin-left:15px;
      margin-top: 25px;
    }

    .image{
      display:block;
    }

    .image3 {
      width: 15%;
      height: 15%;
      flex-grow: 2;
      margin: 0px;
    }

    .image4{
      width: 70%;
      margin-top: 20px;
    }

    .box2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image5{
     height: 130px;
     width: auto;
    }

    .pLCBox2{
      display: flex;
      flex-direction: column;
      align-content:center;
      width: 100%;
      margin-top: 40px;

    }

    .item2{

    }

    /*
      Sticky sidebar
    */

    .NoScroll{

    }

    main {
      overflow-y: auto;
    }

    .aside{
      flex: 1 0 10%;
    }

    .wrapper{
      display: flex;
      height: 100%;
      flex-wrap: wrap;
    }

    .ulBar {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style:none;
      padding-left: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .wrapper_inner {
      width: 90%;
      margin: 0px auto;
    }

    .liStyle{
      margin-top: 10px;
      padding: 10px;
    }

}


/*
________________LAPTOP______________________________________________________
 */

@media screen and (min-width:510px){

  .homeDiv{
    height: 100vh;
    background-image: url("../img/background1_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
  }

  h1.homeTitle {
    padding-top:150px;
    font-size: 50px;
    text-align: center;
    color: white;
    padding-bottom: 130px;
    text-shadow: 2px 2px 5px  #808080;
  }

  a.homeAboutLink{
    color:white;
    text-align: left;
    margin-left: 85%;
    padding-top: 200px;
  }

  h1 {
    font-family: brother-1816, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 20px;
    text-align: center;
  }

  h2 {
    font-family: brother-1816, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    margin: 20px;
    text-align: center;
  }

  h3 {
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    margin: 15px;
    text-align: center;
  }

  h4 {
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin: 15px;
    text-align: center;
  }

  h5 {
    font-family: brother-1816, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin: 5px;
    text-align: center;
  }

  h6 {
    font-family: brother-1816, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    margin: 5px;
    text-align: center;
  }

  .margin-In{
    margin-left: 35%;
  }

  p{
    font-family: brother-1816, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .box{
    display: flex;
    justify-content: center;
  }

  .item{
    margin: 3px;
    flex: 1 1 0;
    text-align: center;
  }

  .pLCBox{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
  }

  .hLC{
    margin-top: 60px;
  }

  .hLC2{
    margin-top: 30px;
  }

  .lLC{
    margin-left: auto;
    margin-right: auto;
    width: 18em;
  }

  img{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
  }

  .image2 {
    width: 15%;
    max-width: 25%;
    max-width: 15%;
    margin-left:15px;
    margin-right: 78%;
    margin-top: 25px;
  }

  .image{
    display:block;
  }

  .image3 {
    width: 87px;
    height: 70px;
    margin: 5px;
  }

  .image4{
    width: 40%;
    margin: 20px;
  }

  .box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .item2{
    width: 30%;
  }

  .image5{
   height: 130px;
   width: auto;
  }

  .pLCBox2{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-left: 35%;
    margin-right: 35%;
    width:30%;
    margin-top: 40px;

  }

  /*
  Projects side bar, sticks
  */

  .NoScroll{
    overflow: hidden;
    height: 100vh;
  }

  main {
    overflow-y: auto;
  }

  .aside{
    flex: 1 0 10%;
  }

  .wrapper{
    display: flex;
    height: 100%;
  }

  .ulBar {
    padding-top: 40px;
    list-style: none;
  }

  .liStyle{
    margin-top: 15px;
  }

  .wrapper_inner {
    width: 90%;
    margin: 0px;
  }


}

/*
________________UNIVERSAL______________________________________________________
 */

a{
  font-family: brother-1816, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #E84242;
  text-decoration: none;
}

a:hover{
  color: #81B0B6;
  font-family: brother-1816, sans-serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border-width: 1px;
  border-color: #81B0B6;
  border-style: solid;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1px;
  margin-top: 20px;
}

ul {
  font-family: brother-1816, sans-serif;
  font-weight: 300;
  font-style: normal;
}

ol {
  font-family: brother-1816, sans-serif;
  font-weight: 300;
  font-style: normal;
  list-style-type: upper-roman;
}

button{
  font-family: brother-1816, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 19px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  transition: box-shadow .25s ease-in-out;
}

button:hover{
   box-shadow: inset 3px 2px 7px #999999;
}

.button-hover{
  font-family: brother-1816, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 19px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  box-shadow: inset 3px 2px 7px #999999;
}

.button-active{
  background-color: #81B0B6;
  color: white;
  border-color: white;
  font-family: brother-1816, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-width: 3px;
  border-style: solid;
  border-radius: 19px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px 3px #999999;
}

.was-clicked{
  padding: 20px;
  color: rebeccapurple;
  width: 30%;
}
.pS{
  font-weight: 400;
}
